.idea

# Composer files
composer.phar
vendor/
public/assets/

# Local configs
config/autoload/*.local.php
config/parameters.local.php

# Binary gettext files
#*.mo

# Data
data/config-cache.php
data/files/
data/logs/
data/files/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

#ZfcDatagrid
data/ZfcDatagrid/

# Legacy ZF1
demos/
extras/documentation
