<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

ini_set('display_errors', 'on');
//error_reporting(E_ERROR | E_WARNING | E_PARSE | E_NOTICE);
error_reporting(-1);
//error_reporting(E_ALL ^ E_DEPRECATED);


$dbParams = [
	'database'  => '',
	'username'  => '',
	'password'  => '',
	'hostname'  => '127.0.0.1',
	'port'		=> 3306,
	'sphinxPort'=> 9311,
	'charset'	=> 'utf8',
];

return [
    'db' => array(
        'driver'    => 'pdo_mysql',
        'hostname'  => '127.0.0.1',
        'database'  => 'dentistry',
        'username'  => 'root',
        'password'  => '',
    ),
    'service_manager' => array(
        'factories' => array(
            'Zend\Db\Adapter\Adapter' => 'Zend\Db\Adapter\AdapterServiceFactory',
        ),
    ),
	// database config
	'database' => [
		// main
		'driver'    => 'pdo_mysql',
		'dsn'       => 'mysql:dbname='.$dbParams['database'].';host='.$dbParams['hostname'].';port='.$dbParams['port'],
		'database'  => $dbParams['database'],
		'username'  => $dbParams['username'],
		'password'  => $dbParams['password'],
		'hostname'  => $dbParams['hostname'],
		//addition
		'port'		=> $dbParams['port'],
		'options' 	=> [
			\PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES '.$dbParams['charset'],
			\PDO::MYSQL_ATTR_FOUND_ROWS => true,
		],
	],

    // memcache config
	'orm' => [
		'host'			=> $dbParams['hostname'],
		'username'		=> $dbParams['username'],
		'password'		=> $dbParams['password'],
		'dbname'		=> $dbParams['database'],
		'charset'		=> $dbParams['charset'],
	],

	'doctrine' => [
		'connection' => [
			'orm_default' => [
				'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
				'params'      => [
					'host'     => $dbParams['hostname'],
					'port'     => $dbParams['port'],
					'user'     => $dbParams['username'],
					'password' => $dbParams['password'],
					'dbname'   => $dbParams['database'],
					'charset'  => $dbParams['charset'],
					'driverOptions' => [
						1002 => 'SET NAMES '.$dbParams['charset']
					],
				],
				'doctrine_type_mappings' => [
					'enum'		=> 'string',
					'tinyint'	=> 'integer',
				],
			]
		]
	],
];
